
   <div class="red" *ngIf="pred && pred.length > 0">
      <div *ngFor="let item of pred">
        <button style="float:left; margin: 10px" type="button" class="btn btn-danger"  aria-pressed="false">
          <img src="assets/img/guarda.png"> {{  item.nombre }}
        </button> 
       </div>
     </div>

     
      <div class="yellow" *ngIf="pyellow && pyellow.length > 0">
        <div *ngFor="let item of pyellow">
          <button style="float:left; margin: 10px; color:white" type="button" class="btn btn-warning" data-toggle="button" aria-pressed="false">
            <img src="assets/img/guarda.png"> {{  item.nombre }}
          </button> 
         </div>
      </div>
     
       <div class="green" *ngIf="pgreen && pgreen.length > 0">
        <div *ngFor="let item of pgreen">
          <button style="float:left; margin: 10px" type="button" class="btn btn-success" data-toggle="button" aria-pressed="false">
            <i class="ion-ios-lock"></i>  {{  item.nombre }}
          </button> 
       </div>

       
