<div class="formregister">
  <form [formGroup]="formCefectivo">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Billetes de 100.000</label>
        <input type="text" maxlength="3"
        #tab100
          [ngClass]="{ 'error-validation': submitted && f.ciemil.errors, 'success':ciemil.valid && (ciemil.dirty || ciemil.touched) }"
          placeholder="0" class="form-control" (keyup)="validateNumber($event, typecienmil)" autocomplete="off"
          formControlName="ciemil">
      </div>
      <div class="form-group col-md-6">
        <label>Billetes de 10.000</label>
        <input type="text" maxlength="3" 
          #tab10
          [ngClass]="{ 'error-validation': submitted && f.diezmil.errors, 'success':diezmil.valid && (diezmil.dirty || diezmil.touched) }"
          placeholder="0" class="form-control" (keyup)="validateNumber($event,typediezmil)" autocomplete="off"
          formControlName="diezmil">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Billetes de 50.000</label>
        <input maxlength="3"
        #tab50
          [ngClass]="{ 'error-validation': submitted && f.cincuentamil.errors, 'success':cincuentamil.valid && (cincuentamil.dirty || cincuentamil.touched) }"
          placeholder="0" type="text" class="form-control" (keyup)="validateNumber($event,typecincuentamil)"
          autocomplete="off" formControlName="cincuentamil">
      </div>
      <div class="form-group col-md-6">
        <label>Billetes de 5.000</label>
        <input maxlength="3"
        #tab5
          [ngClass]="{ 'error-validation': submitted && f.cincomil.errors, 'success':cincomil.valid && (cincomil.dirty || cincomil.touched) }"
          placeholder="0" type="text" class="form-control" (keyup)="validateNumber($event,typecincomil)"
          autocomplete="off" formControlName="cincomil">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Billetes de 20.000</label>
        <input maxlength="3"
        #tab20
          [ngClass]="{ 'error-validation': submitted && f.veintemil.errors, 'success':veintemil.valid && (veintemil.dirty || veintemil.touched) }"
          placeholder="0" type="text" class="form-control" (keyup)="validateNumber($event,typeveintemil)"
          autocomplete="off" formControlName="veintemil">

      </div>
      <div class="form-group col-md-6">
        <label>Billetes de 2.000</label>
        <input maxlength="3"
        #tab2
          [ngClass]="{ 'error-validation': submitted && f.dosmil.errors, 'success':dosmil.valid && (dosmil.dirty || dosmil.touched) }"
          placeholder="0" type="text" class="form-control" (keyup)="validateNumber($event,typedosmil)"
          autocomplete="off" formControlName="dosmil">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Billetes de 1.000</label>
        <input maxlength="3"
        #tab1
          [ngClass]="{ 'error-validation': submitted && f.mil.errors, 'success':mil.valid && (mil.dirty || mil.touched) }"
          placeholder="$1.000" type="text" class="form-control" (keyup)="validateNumber($event,typemil)"
          autocomplete="off" formControlName="mil">
      </div>

      <div class="form-group col-md-6">
        <label>$ Total Monedas</label>
        <input maxlength="5"
        #tabM
          [ngClass]="{ 'error-validation': submitted && f.tolamonedas.errors, 'success':tolamonedas.valid && (tolamonedas.dirty || tolamonedas.touched) }"
          placeholder="0" type="text" class="form-control" (keyup)="validateNumber($event,0)"
          formControlName="tolamonedas">
      </div>
    </div>



    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Total Efectivo</label> <br>
        <span class="colortotales">{{ suma | currency }} </span>
      </div>

      <div class="form-group col-md-6">
        <label>Tipo Servicio</label>
        <select
          [ngClass]="{ 'error-validation': submitted && f.relacion.errors, 'success':relacion.valid && (relacion.dirty || relacion.touched) }"
          class="form-control" formControlName="relacion">
          <option *ngFor="let item of typeServices" value="{{item.id}}">
            {{ item.nombre }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Observación</label>
        <select 
          (change)="getOb($event.target.value)"
          [ngClass]="{ 'error-validation': submitted && f.observacion.errors, 'success':observacion.valid && (observacion.dirty || observacion.touched) }"
          class="form-control" formControlName="observacion">
          <option *ngFor="let item of typeObs" value="{{item.id}}">
            {{ item.nombre }}
          </option>
        </select>
      </div>

      <div *ngIf="showNoveda" class="form-group col-md-6">
        <label>Novedad</label>
        <textarea formControlName="obsnovedad" class="form-control"></textarea>
      </div>

      <div class="form-group col-md-6">
        <label>Número de Bolsa</label>
        <input
          (keyup)="validateNumberLetter($event)"
          [ngClass]="{ 'error-validation': submittednb && numerobolsa.errors, 'success':numerobolsa.valid && (numerobolsa.dirty || numerobolsa.touched) }"
          placeholder="#00000" type="text" class="text-uppercase form-control"
          formControlName="numerobolsa">

          <span *ngIf="submittednb && numerobolsa.errors">
            <span class="text-danger">El número de bolsa es requerido!</span>
           </span>
      </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="save()">Acceptar</button>
    <button type="button" class="btn btn-danger marginleftbuttons" (click)="clear()">Cancelar</button>
  </form>
</div>

<div class="sumas">
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="width:37rem;">
        <h5 class="card-header">Acumulado Chance</h5>
        <div class="card-body">
           <span class="colortotales">{{ sumachance | currency  }}</span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row align-items-center">
    <div class="col">
      <div class="card" style="width:37rem;">
        <h5 class="card-header">Acumulado Giros</h5>
        <div class="card-body">
          <span class="colortotales">{{ sumagiro | currency}}</span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row align-items-end">
    <div class="col">
      <div class="card" style="width:37rem;">
        <h5 class="card-header">Acumulado Pagos</h5>
        <div class="card-body">
          <span class="colortotales">{{ sumapagos | currency }}</span>
        </div>
      </div>
    </div>
  </div>
</div>