<div class="text-center" *ngIf="spinner">
  <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
</div>

<div class="row">
  <div class="left">
    <div class="card">
      <h5 class="card-header">Efectivo</h5>
      <div class="card-body">
          <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Cantidad de Relaciones</th>
                  <th scope="col">Total Efectivo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">{{ countEfectivo }}</td>
                  <td class="text-warning">{{ sumachance | currency }}</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  </div>
  
  <div class="left">
    <div class="card">
      <h5 class="card-header">Pagos</h5>
      <div class="card-body">
          <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Cantidad de registros</th>
                  <th scope="col">Total </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">{{ countPagos }}</td>
                  <td class="text-primary">{{ sumapagos | currency }}</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  </div>
  
  <div class="right">
    <div class="card">
      <h5 class="card-header">Giros</h5>
      <div class="card-body">
          <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Cantidad de Relaciones</th>
                  <th scope="col">Total Efectivo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td scope="row">{{ countGiros }}</td>
                <td class="text-danger">{{ sumagiro | currency }}</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  </div>
</div>


<div class="row">
  <div class="left-dow">
    <div class="card">
      <div class="card-body">
        <table class="table" style="width: 942px;">
          <thead class="thead-light">
            <tr>
              <th scope="col">Total Entrega </th>
              <th scope="col">Total Venta Gamble </th>
              <th scope="col">Saldo </th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td class="text-success">{{ totalEngtrega | currency }}</td>
            <td class="text-success">{{ ventaGamble | currency }}</td>
            <td class="text-success">{{ saldo | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br><br>

      <button type="button" class="btn btn-primary">
        {{ this.alert }} <span class="badge badge-light"></span>
      </button>
    </div>
 </div>
</div>



