
<!--div  class="izquierda">
  <em class="iconfirts ion-ios-refresh-circle"></em>
  <em class="iconsecond ion-ios-arrow-round-down"></em>
  <ul class="lista-icon-element-user">
      <li style="cursor:pointer;" (click)="authService.logout()">
        <em class="icon-size-person ion-ios-power"></em>
     </li>
  </ul>
 </div-->
 
                         
<div class="row" style="padding: 15px;">
  <div class="content">
    <h5> {{ 'Consulta de Novedades u Observaciones' | uppercase }} </h5>
    <form class="form-inline" [formGroup]="formRegister">

      <div class="form-group">
        <div class="input-group">
          <select [(ngModel)]="filter" (change)="getType()" style="margin-right:3px;" formControlName="estado" 
            class="form-control">
            <option [selected]="0==0">SELECCIONAR TIPO DE NOVEDAD</option>
            <option value=1>Cortes</option>
            <option value=2>Entrega de Tulas</option>
            <option value=4>Seguridad</option>
            <option value=5>Verifación Centro de Efectivo</option>
          </select>
       </div>
      </div>


      <div class="form-group">
        <div class="input-group">
          <input type="text" style="margin-right: 3px;" formControlName="documento"
          [ngClass]="{ 'error-validation': submitted && f.documento.errors }"
          class="form-control" placeholder="{{type}}">      
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input class="form-control" 
          placeholder="Desde"
          [ngClass]="{ 'error-validation': submitted && f.finicial.errors }"
          formControlName="finicial" [(ngModel)]="fromDate"  style="width: 125px;"  ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group ml-2">
        <div class="input-group">
          <input class="form-control" 
           placeholder="Hasta"
           [ngClass]="{ 'error-validation': submitted && f.ffinal.errors }"
           formControlName="ffinal"  [(ngModel)]="toDate" style="width: 125px;" ngbDatepicker #h="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="h.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group ml-2">
        <div class="input-group">
          <button class="btn btn-primary mleft"  (click)="search()" type="button">Consultar</button>
          <button class="btn btn-danger mleft"  (click)="clear()" >Cancelar</button>
        </div>
      </div>
    </form>
    
      
      <div class="text-center" *ngIf="spinner">
        <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
      </div>
    
      <br>
      <div *ngIf="tblc">
        <table class="table table-hover" *ngIf="allCortes && allCortes.length > 0">
          <thead class="thtables">
            <tr>
              <th class="text">Corte</th>
              <th class="text">Punto</th>
              <th class="text">Total Efectivo</th>
              <th class="text">Valor Verificación</th>
              <th class="text"># Bolsa</th>
              <th class="text">Observación</th>
              <th class="text">Novedad</th>
              <th class="text">Fecha Registro</th>
              <th class="text">Hora</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of allCortes | paginate: { itemsPerPage: 10, currentPage: p }">
            <tr>
              <td scope="row"> 
                <span class="badge bg-success">
                  <span class="text-white"> {{ item.corte }}</span>  
                </span>
              </td>
              <td scope="row">
                {{ item.puntoventa }}
              </td>
              <td scope="row"> <span class="tdtxt"> ${{ item.totalefectivo | number:'0.0-0' }}  </span></td>
              <td scope="row"> <span class="tdtxt"> ${{ item.valorverficacion | number:'0.0-0' }}  </span></td>

              
              <td scope="row"> <span class="tdtxt"> {{ item.numerobolsa }}  </span></td>
              <td scope="row">
                {{ item.observacion }}
              </td>
              <td scope="row">
                {{ item.novedad }}
              </td>
              <td scope="row">
                {{ item.fecha | date: 'dd/MM/yyyy' }}
              </td>
              <td scope="row">
                {{ item.hora }}
              </td>
            </tr>
          </tbody>
         </table>
      </div>

      <div *ngIf="tble">
        <table class="table table-hover" *ngIf="allPaquetes && allPaquetes.length > 0">
          <thead class="thtables">
            <tr>
              <th class="text">Tulas</th>
              <th class="text">Fecha Registro</th>
              <th class="text">Hora</th>
              <th class="text">Tipo Observación</th>
              <th class="text">Nota</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of allPaquetes | paginate: { itemsPerPage: 10, currentPage: p }">
            <tr>
              <td scope="row"> 
                <span class="badge bg-success text-white">{{ item.cantidad  }}</span>
              </td>
              <td scope="row">
                {{ item.fecha | date: 'dd/MM/yyyy' }}
              </td>
              <td scope="row"> <span class="tdtxt"> {{ item.hora }}  </span></td>
              <td scope="row">
                {{ item.tipo }}
              </td>
              <td scope="row">
                {{ item.nota | uppercase }}
              </td>
             </tr>
          </tbody>
        </table>
     </div>

    
     <div *ngIf="tblr">
      <table class="table table-hover" *ngIf="allRGD && allRGD.length > 0">
        <thead class="thtables">
          <tr>
            <th class="text">Candado</th>
            <th class="text">Tula</th>
            <th class="text">Fecha Registro</th>
            <th class="text">Hora</th>
            <th class="text">Tipo Observación</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of allRGD | paginate: { itemsPerPage: 10, currentPage: p }">
          <tr>
            <td scope="row"> <span class="tdtxt text-success"> {{ item.candado  }}  </span></td>
            <td scope="row"> <span class="tdtxt text-success"> {{ item.tula  }}  </span></td>
            <td scope="row">
              {{ item.fecha | date: 'dd/MM/yyyy' }}
            </td>
            <td scope="row"> <span class="tdtxt"> {{ item.hora }}  </span></td>
            <td scope="row">
              <span *ngIf="item.novedad != null">
                {{ item.novedad | titlecase }}
              </span>
           </td>
           </tr>
        </tbody>
      </table>
   </div>

   <div *ngIf="tbls">
    <table class="table table-hover" *ngIf="allSG && allSG.length > 0">
      <thead class="thtables">
        <tr>
          <th class="text">Documento Guarda</th>
          <th class="text">Ruta</th>
          <th class="text">Placa</th>
          <th class="text">Observación</th>
          <th class="text">Fecha</th>
          <th class="text">Tipo de Cambio</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of allSG | paginate: { itemsPerPage: 10, currentPage: p }">
        <tr>
          <td scope="row"> <span class="tdtxt text-success"> {{ item.documento  }}  </span></td>
          <td scope="row"> <span class="tdtxt text-success"> {{ item.ruta  }}  </span></td>
          <td scope="row"> <span class="tdtxt text-success"> {{ item.placa  }}  </span></td>
          <td scope="row">
            <span *ngIf="item.obs != null">
              {{ item.obs | titlecase }}
            </span>
         </td>
          <td scope="row">
            {{ item.fecha | date: 'dd/MM/yyyy' }}
          </td>
          <td scope="row"> <span class="tdtxt"> {{ item.tipocambio }}  </span></td>
         
         </tr>
      </tbody>
    </table>
 </div>


 <div *ngIf="tblv">
    <table class="table table-hover" *ngIf="allVRF && allVRF.length > 0">
      <thead class="thtables">
        <tr>
          <th class="text">$ 100.000</th>
          <th class="text">$ 50.000</th>
          <th class="text">$ 20.000</th>
          <th class="text">$ 10.000</th>
          <th class="text">$ 5.000</th>
          <th class="text">$ 2.000</th>
          <th class="text">$ 1.000</th>
          <th class="text">Monedas</th>
          <th class="text">Total Efectivo</th>
          <th class="text">$ Verificación</th>
          <th class="text"> # Bolsa</th>
          <th class="text">Observación</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of allVRF | paginate: { itemsPerPage: 10, currentPage: p }">
        <tr>
          <td scope="row"> <span class="tdtxt"> {{ item.cienmil  }} </span> </td>
          <td scope="row"> <span class="tdtxt"> {{ item.cincuentamil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.veintemil }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.diezmil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.cincomil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.dosmil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.mil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> ${{ item.totalmonedas | number:'0.0-0' }}  </span></td>
          <td scope="row"> <span class="tdtxt"> ${{ item.totalefectivo | number:'0.0-0' }}  </span></td>
          <td scope="row"> <span class="tdtxt"> ${{ item.valorverficacion | number:'0.0-0' }}  </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.numerobolsa }}  </span></td>
          <td scope="row"> {{ item.observacion }}</td>
        </tr>
      </tbody>
  </table>
 </div>

 
<pagination-controls *ngIf="pg" (pageChange)="p = $event"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        ></pagination-controls>
      
      <!--div *ngIf="allCortes && allCortes.length > 0"  class="totales">
          <h5 class="text-success"> Total $ {{ suma | number:'0.0-0' }} </h5>
      </div-->
    
   </div>
</div>



