<div class="content-ts2">


<h5 class="card-header">Parametrización de Puntos Para Semaforo</h5>

<br>
<div class="row">
  <div class="col-12">
    <input class="form-control" (keyup)="search($event)" type="search" placeholder="Buscar Punto">
    <!--i (click)="showHide()"  class="size text-success icon ion-ios-add-circle"></i-->
    <div *ngIf="showError" class="alert alert-primary" role="alert">
      {{ msgError }}
   </div>
  </div>
</div>

<div class="text-center" *ngIf="showLoader">
    <img style="width:50px;" src="assets/animation/Eclipse-1s-200px.svg">
</div>

<div class="contentall">
  <!-- <div *ngIf="showform" class="row">
    <div class="col-12">
      <form [formGroup]="formR" class="needs-validation" novalidate>
        <div class="form-group">
          <label>Nombre del Punto de Venta</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="ion-ios-barcode"></i>
              </div>
            </div>
            <input type="text"
              [ngClass]="{ 'error-validation': submitted && f.nombre.errors, 'success-validation':nombre.valid && (nombre.dirty || nombre.touched) }"
              class="form-control text-uppercase" formControlName="nombre">
          </div>

          <label>ID Territorio</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="ion-ios-keypad"></i>
              </div>
            </div>
            <input type="text"
              (keyup)="validateNumber($event)"
              [ngClass]="{ 'error-validation': submitted && f.territorio.errors, 'success-validation':territorio.valid && (territorio.dirty || territorio.touched) }"
              class="form-control text-capitalize" formControlName="territorio">
          </div>

          <label>Centro de Costo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="ion-ios-keypad"></i>
              </div>
            </div>
            <select
              [ngClass]="{ 'error-validation': submitted && f.ccosto.errors, 'success-validation':ccosto.valid && (ccosto.dirty || ccosto.touched) }"
              formControlName="ccosto" class="form-control">
              <option *ngFor="let item of ccostoslist" value="{{item.id}}">
                {{ item.name }}
              </option>
            </select>
          </div>

          <label>Tipo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="ion-ios-basket"></i>
              </div>
            </div>
            <select
              [ngClass]="{ 'error-validation': submitted && f.tipo.errors, 'success-validation':tipo.valid && (tipo.dirty || tipo.touched) }"
              formControlName="tipo" class="form-control">
              <option *ngFor="let item of ['A','B']" value="{{item}}">
                {{ item }}
              </option>
            </select>
          </div>
       </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" (click)="save()" value="Acceptar">
          <input type="reset" class="btn btn-danger mleft" value="Cancelar">
        </div>
      </form>
    </div>
  </div> -->

  <br>
  <div *ngIf="showformTable" class="row">
    <div class="table-responsive">
      <table style="width: 80%;" class="table">
        <thead>
          <tr>
            <th scope="col">PUNTO</th>
            <th scope="col">TERRITORIO</th>
            <th scope="col">CENTRO DE COSTO</th>
            <th scope="col">TIPO DE TOPE</th>
            <th scope="col">EDITAR</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of puntos | paginate: { itemsPerPage: 10, currentPage: p }">
          <tr>
            <td>{{ item.nombre | uppercase }}</td>
            <td>{{ item.territorio }}</td>
            <td>{{ item.ccosto }}</td>
            <td *ngIf="item.status == true">{{ item.tipo }}</td>
            <td *ngIf="item.status == false">
             <select
              (change)="getTipo($event.target.value, item.territorio)"
               class="form-control">
              <option *ngFor="let item of ['A','B']" value="{{item}}">
                {{ item }}
              </option>
             </select>
            </td>
            <td>
              <span style="margin-left: 26px;font-size: 30px;">
                <i (click)="detalle(item)" class="edit text-primary icon ion-ios-create"></i>
              </span>

              <span *ngIf="item.btn == true" style="margin-left: 26px;font-size: 30px;">
                <i (click)="updatePunto(item)" class="edit text-success icon ion-ios-save"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        ></pagination-controls>
    </div>
  </div>
</div>

</div>

