<h5> Gestión de Vehículos </h5>
<div class="text-center" *ngIf="spinner">
  <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
</div>

<div class="card">
  <div class="card-body m5">
    <form class="form-inline" [formGroup]="form">
      <div class="form-group mx-sm-3 mb-2">
        <label class="sr-only">Placa</label>
        <input style="width:300px;" type="text" class="form-control text-uppercase" placeholder="Placa" formControlName="placa"
        [ngClass]="{ 'error-validation': submitted && f.placa.errors, 'success':placa.valid && (placa.dirty || placa.touched) }"
        >
        <span *ngIf="submitted && f.placa.errors">
          <span class="text-danger">La placa es requerida!</span>
        </span>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <button type="reset" class="btn btn-danger">Cancelar</button>
      </div>
      
      <button type="submit" class="btn btn-primary mb-2" (click)="save()">{{  text }}</button>
    </form>

    <table class="table table-striped table-bordered table-hover" *ngIf="vehiculos && vehiculos.length">
      <thead>
        <tr>
          <th scope="col">Placa</th>
          <th scope="col">Editar</th>
          <th scope="coll">Eliminar</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of vehiculos | paginate: { itemsPerPage: 3, currentPage: p }">
        <tr>
          <td >{{ item.placa | uppercase }}</td> 
          <td>
            <div class="float-left">
              <em (click)="edit(item)" class="iconrc pointer text-primary ion-ios-create"></em>
            </div>
          </td>
          <td >
            <em (click)="delete(item)" class="iconrc pointer text-danger ion-ios-trash"></em>
          </td> 
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
        ></pagination-controls>
  </div>
</div>


