<h5> Verificación de cortes </h5>
<form class="form-inline" [formGroup]="formRegister">
  <div class="form-group">
    <div class="input-group">
      <input type="text" style="width:125px; margin-right: 3px;" formControlName="documento"
      [ngClass]="{ 'error-validation': submitted && f.documento.errors }"
      class="form-control text-uppercase" placeholder="00000">      
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" 
      placeholder="Desde"
      formControlName="finicial" [(ngModel)]="fromDate"  style="width: 125px;"  ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
  <div class="form-group ml-2">
    <div class="input-group">
      <input class="form-control" 
       placeholder="Hasta"
       formControlName="ffinal"  [(ngModel)]="toDate" style="width: 125px;" ngbDatepicker #h="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="h.toggle()" type="button"></button>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <div class="input-group">
      <select style="margin-left:3px; margin-top: 3px;" formControlName="estado" 
        class="form-control">
        <option value=1>Activos</option>
        <option value=3>Historico</option>
      </select>
      <button class="btn btn-primary mleft"  (click)="search()" type="button">Consultar</button>
      <button class="btn btn-danger mleft" type="reset">Cancelar</button>
    </div>
  </div>
</form>

<div class="content-ts">
  <div class="text-center" *ngIf="spinner">
    <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
  </div>

  

  <table style="width:83%;" class="table table-hover" *ngIf="allCortes && allCortes.length > 0">
      <thead class="thtables">
        <tr>
          <th class="text"># Corte</th>
          <th class="text">$ 100.000</th>
          <th class="text">$ 50.000</th>
          <th class="text">$ 20.000</th>
          <th class="text">$ 10.000</th>
          <th class="text">$ 5.000</th>
          <th class="text">$ 2.000</th>
          <th class="text">$ 1.000</th>
          <th class="text">Monedas</th>
          <th class="text">Total Efectivo</th>
          <th class="text">$ Verificación</th>
          <th class="text">$ # Bolsa</th>
          <th class="text">Observación</th>
          <th class="text">Validar</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of allCortes | paginate: { itemsPerPage: 10, currentPage: p }">
        <tr>
          <td scope="row"> 
            <button (click)="printer(item, item.corte)" type="button" class="btn btn-success">
              <!-- {{ item.corte }} -->
              <em class="ion-ios-print"></em>
            </button>
          </td>
          <td scope="row"> <span class="tdtxt"> {{ item.cienmil  }} </span> </td>
          <td scope="row"> <span class="tdtxt"> {{ item.cincuentamil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.veintemil }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.diezmil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.cincomil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.dosmil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.mil  }} </span></td>
          <td scope="row"> <span class="tdtxt"> ${{ item.totalmonedas | number:'0.0-0' }}  </span></td>
          <td scope="row"> <span class="tdtxt"> ${{ item.totalefectivo | number:'0.0-0' }}  </span></td>
          <td scope="row"> <span class="tdtxt"> ${{ item.valorverficacion | number:'0.0-0' }}  </span></td>
          <td scope="row"> <span class="tdtxt"> {{ item.numerobolsa }}  </span></td>
          <td scope="row">
            <select 
             (change)="getObs($event.target.value,item.idcontrolefectivo)" 
              class="form-control">
              <option 
                [selected]="item.id==1"  *ngFor="let item of typeServices" value="{{item.nombre}}">
                {{ item.nombre }}
              </option>
             </select>
          </td>
          <td scope="row" *ngIf="item.recogido == 1">
              <em (click)="open(content,item)" style="font-size: 21px;" class="pointer text-primary ion-ios-search"></em>
              <span>-</span>
              <em (click)="sendData(item.idcontrolefectivo)" style="font-size: 21px;" class="pointer text-success ion-ios-save"></em>
          </td>
        </tr>
      </tbody>
  </table>

  <pagination-controls style="float: left;" (pageChange)="p = $event"
  directionLinks="true"
  autoHide="true"
  responsive="true"
  previousLabel="Anterior"
  nextLabel="Siguiente"
  ></pagination-controls>
  
  <div *ngIf="false" class="totales">
      <h5 class="text-primary"> Total $ {{ suma | number:'0.0-0' }} </h5>
  </div>

  </div>
  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Registro de verificación entrega</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formR" class="needs-validation">
          <div class="form-group">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="ion-logo-usd"></i> 
                    </div>
                  </div>
                  <input type="text"  placeholder="Ingrese el valor" (keyup)="validateNumber($event)"
                  [ngClass]="{ 'error-validation': submitted && fv.valorverificacion.errors, 'success-validation':valorverificacion.valid && (valorverificacion.dirty || valorverificacion.touched) }"
                  class="form-control" formControlName="valorverificacion">
              </div>
            </div>
            <div class="form-group">
             <input type="reset" class="btn btn-primary mleft" (click)="save()" value="Acceptar">
             <input type="reset" class="btn btn-danger mleft" (click)="clear()" value="Cancelar">
           </div>
        </form>
      </div>
    </ng-template>