
<div class="izquierda">
    <em class="iconfirts ion-ios-refresh-circle"></em>
    <em class="iconsecond ion-ios-arrow-round-down"></em>
    <ul class="lista-icon-element-user">
        <li style="cursor:pointer;" (click)="authService.logout()">
          <em class="icon-size-person ion-ios-power"></em>
       </li>
    </ul>
  </div>
  
  <div class="load-item-menu">
    <ul class="lista-icon-menu-app" *ngFor="let item of listModules">
        <li> 
            <a routerLink="{{ item.call }}">
             <em class="icon-size {{ item.icon }}" ></em> {{ item.name }} </a> 
        </li>
    </ul>
  </div>
  
  
  
  <div class="botons-top">
    <div *ngIf="true" class="col-auto">
      <button style="float:right;" type="button" class="btn btn-primary">
        {{ dataService.getSessionUser().username }}

        {{ dataService.getSessionUser().loginuser }}
      </button>
      <div class="input-group mb-2">
            
      </div>
    </div>
  
    <div class="content-render">                          
       <div class="content" style="padding: 10px;">
           <router-outlet></router-outlet>
       </div>
     </div>
  </div>
