<h5 class="card-header">ENTREGA DE TULAS</h5>
<br>
<form class="form-inline" [formGroup]="formRegister">
  <div class="form-group">
   <select 
        (change)="searchByGuarda($event.target.value)"
        [ngClass]="{ 'error-validation': submitted && f.id.errors, 'success':id.valid && (id.dirty || id.touched) }"
        class="selectg form-control" formControlName="id">
        <option value="0">SELECCIONAR GUARDA</option>
        <option *ngFor="let item of guardas" value="{{item.documento}}">
          {{ item.nombres }} {{ item.apellido1 }} {{ item.apellido2 }}
        </option>
   </select> 
   <div style="margin-left: 7px;" *ngIf="spinner" class="spinner-border text-success" role="status">
    <span class="visually-hidden"></span>
  </div>
  </div>
</form>

<br>
<div class="card"  *ngIf="showRecogida">
  <div class="card-header">
    INFORMACIÓN DE RECOGIDA
  </div>
  <div class="card-body">
    <h5 class="card-title">TULAS RECOGIDAS<span class="text-success">  ({{ recogidas }}) </span></h5>

    <div *ngIf="recogidas && recogidas > 0">
      <div class="form-check" *ngFor="let item of observacion">
        <input  (click)="setStatus(item.descripcion)" value="{{item.descripcion}}" [(ngModel)]="descripcion" class="pointer form-check-input" type="radio">
        <label class="form-check-label" for="flexRadioDefault1">
          {{ item.descripcion }}
        </label>
      </div>

      <div *ngIf="status" class="form-floating">
        <textarea class="form-control" [(ngModel)]="nota" placeholder="Descripción" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Descripción</label>
      </div>
    </div>

    <p class="card-text" *ngIf="recogidas && recogidas > 0">
      <button (click)="save()" class="btn btn-success">Registrar Entrega</button> 
    </p>
 </div>
</div>


