.date-picker  input {
    display: block !important;
    width: 100% !important;
    height: calc(2.25rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}


.mleft{
 margin-left: 10px;   
}

.countrc{
    margin-left: 100px;
    margin-top: 8px;
    font-size: 20px;
}

.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }


  .viewOBs{
    height: auto;
    background: #ffffff;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: 9px;
    padding: 10px;
    display: inline-block;
    font-size: 11px;
  }

  .blk{
    display: block;
  }

  .none{
    display: none;
  }