<h5> GESTIÓN DE TOPES </h5>
<div class="text-center" *ngIf="spinner">
  <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
</div>

<div class="card">
  <div class="card-body m5">
    <form class="form-inline" [formGroup]="form">

      <div class="form-row">
        <div class="form-group col-md-6">
          <input style="width:300px;" (keyup)="validateNumber($event)" type="text" class="form-control text-uppercase" placeholder="tope A" formControlName="topeA"
          [ngClass]="{ 'error-validation': submitted && f.topeA.errors, 'success':topeA.valid && (topeA.dirty || topeA.touched) }"
          >
          <span *ngIf="submitted && f.topeA.errors">
            <span class="text-danger">Tope A es requerido!</span>
          </span>
          
        </div>
        <div class="form-group col-md-6">
          <input style="width:300px;" (keyup)="validateNumber($event)" type="text" class="form-control text-uppercase" placeholder="tope B" formControlName="topeB"
          [ngClass]="{ 'error-validation': submitted && f.topeB.errors, 'success':topeB.valid && (topeB.dirty || topeB.touched) }"
          >
          <span *ngIf="submitted && f.topeB.errors">
            <span class="text-danger">Tope B es requerido!</span>
          </span>
        </div>

        <div class="form-group col-md-6">
          <label class="sr-only">Primer Rango</label>
            <input style="width:300px;" (keyup)="validateNumber($event)" type="text" class="form-control text-uppercase" placeholder="Rango 1" formControlName="noventa"
            [ngClass]="{ 'error-validation': submitted && f.noventa.errors, 'success':noventa.valid && (noventa.dirty || noventa.touched) }"
            >
            <span *ngIf="submitted && f.noventa.errors">
              <span class="text-danger">El primer rango es requerido!</span>
            </span>
        </div>

        <div class="form-group col-md-6">
          <label class="sr-only">Segundo Rango</label>
            <input style="width:300px;" (keyup)="validateNumber($event)" type="text" class="form-control text-uppercase" placeholder="Rango 1" formControlName="setentaycinco"
            [ngClass]="{ 'error-validation': submitted && f.setentaycinco.errors, 'success':setentaycinco.valid && (setentaycinco.dirty || setentaycinco.touched) }"
            >
            <span *ngIf="submitted && f.noventa.errors">
              <span class="text-danger">El segundo rango es requerido!</span>
            </span>
        </div>

        <br><br><br>
        <div class="form-group col-md-6">
          <button type="reset" class="btn btn-danger">Cancelar</button>
          <button type="submit" class="btn btn-primary" (click)="save()">Editar</button>
        </div>
      </div>
    

       <!--
           <div class="form-group mx-sm-3 mb-2">
            <label class="sr-only">Primer Rango</label>
            <input style="width:300px;" (keyup)="validateNumber($event)" type="text" class="form-control text-uppercase" placeholder="Rango 1" formControlName="noventa"
            [ngClass]="{ 'error-validation': submitted && f.noventa.errors, 'success':noventa.valid && (noventa.dirty || noventa.touched) }"
            >
            <span *ngIf="submitted && f.noventa.errors">
              <span class="text-danger">El primer rango es requerido!</span>
            </span>
          </div>

          <div class="form-group mx-sm-3 mb-2">
            <label class="sr-only">Segundo Rango</label>
            <input style="width:300px;" (keyup)="validateNumber($event)" type="text" class="form-control text-uppercase" placeholder="Rango 1" formControlName="setentaycinco"
            [ngClass]="{ 'error-validation': submitted && f.setentaycinco.errors, 'success':setentaycinco.valid && (setentaycinco.dirty || setentaycinco.touched) }"
            >
            <span *ngIf="submitted && f.noventa.errors">
              <span class="text-danger">El segundo rango es requerido!</span>
            </span>
          </div>
              -->
     
    </form>

  
    <br>
    <table class="table table-bordered" *ngIf="rangos && rangos.length">
      <thead>
        <tr>
          <th scope="col">TOPE A</th>
          <th scope="col">TOPE B </th>
          <th scope="col">RANGO TOPE B</th>
          <th scope="col">RANGO TOPE A</th>
          <th scope="col">EDITAR</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of rangos">
        <tr>
          <td >${{ item.topeA | number: '0.0-0' }}</td> 
          <td >${{ item.topeB | number: '0.0-0' }}</td> 
          <td >{{ item.noventa }}</td> 
          <td >{{ item.setentaycinco }}</td> 
          <td>
            <div class="float-left">
              <em (click)="edit(item)" class="iconrc text-primary ion-ios-create"></em>
            </div>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


