<div class="card">
    <h5 class="card-header">Efectivo</h5>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Cantidad de Relaciones</th>
                <th scope="col">Total Efectivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">{{ countEfectivo }}</td>
                <td>$ 0</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<br>

<div class="card">
    <h5 class="card-header">Pagos</h5>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
              <tr>
                  <td scope="row">{{ countPagos }}</td>
                  <td>{{ valorPagos | currency }}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">$ 0</td>
                <td>$ 0</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<br>
<div class="card">
    <h5 class="card-header">Giros</h5>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Cantidad de Relaciones</th>
                <th scope="col">Total Efectivo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">$ 0</td>
                <td>$ 0</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Entrega</h5>
          <p class="card-text"> $ 0</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Venta Gamble</h5>
          <p class="card-text"> $ 0</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <br>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Saldo</h5>
            <p class="card-text"> $ 0</p>
           </div>
        </div>
      </div>
  </div>