.left{
    float: left;  
}
   
.right
{
 float: right;
}

.loadpoint
{
 float: right;
}

.itemprodduc 
{
 width: 100px;
 margin-left: 5px;
}


#links{
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 4.5rem;
    margin:0;
}
h2{
    text-align: center;
    font-size: 2rem;
    margin:0;
    color:#f90;
}
a{
    text-decoration: none
}
a:hover{
    text-decoration: underline;
}
h4{
    display: inline-block;
    margin: 0 0px 10px 0;
}
h4 a {
    font-weight: 200;
    color: #333;
    display: inline-block;
    position: relative;
    background: #fff;
    border: 1px solid #DDD;
    margin-left: 10px;
    padding: 10px;
    border-radius: 3px;
}
h4 a:after, h4 a:before {
    right: 100%;
    top: 43%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

h4 a:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 8px;
    margin-top: -8px;
}
h4 a:before {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: #DDD;
    border-width: 9px;
    margin-top: -9px;
}
.fa{
    font-size:1.5rem;
    color: #f90;
}


.csuccess{
  background:#28a745 !important;
}

