
.background 
{
  background: #285f9a !important;
  position: absolute;
  width: 100%;
  height: 730px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #285f9a;
    border-color: #285f9a; /*set the color you want here*/
}


.content-login 
{
    width: 500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #285f9a;
    border-radius: 2px;
    border: solid 1px #285f9a;
}

.relleno
{
  padding: 50px;
}

.logo
{
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 1px;
    margin-left: 120px;
}

.icon-login
{
    color: #fbc700;
    font-size: 16px;
}

.icon-login-btn
{
    color: #fbc700;
    font-size: 23px;
}

.keylogin
{
    color: #167bff;
    padding: 8px;
    position: absolute;
    margin-left: 370px;
    font-size: 19px;
}

.separadores
{
 margin-top:20px;
}

.border-card
{
 border: solid 1px #f3bc00;
}

.errorformlogin 
{
    color: #dc3545c7;
    border-radius: 9px;
    text-align: justify;
    position: absolute;
    top: 8px;
    z-index: 1;
    margin-left: 375px;
    font-size: 20px;
    -webkit-animation: nudge 3s ease-out;
    animation: nudge 3s ease-out;
    display: none;
}

.capitalize{
    text-transform: capitalize;
  }
  
  .lowercase{
    text-transform: lowercase;
  }