<div class="background">
    <div class="content-login ">
      <div class="content relleno">
             <div class="text-center">
               <h1 class="text-white">Control de Efectivo</h1>
             </div>
             <img class="logo" src="assets/img/logo.png">
             <form [formGroup]="loginForm">
                 <div class="form-group">
                   <div class="input-group mb-2">
                     <div class="input-group-prepend">
                       <div class="input-group-text"><i class="ion-ios-person icon-login"></i></div>
                     </div>
                     <input [ngClass]="{'errorgmd': submitted && f.username.errors, 'success':username.valid && (username.dirty || username.touched)}" formControlName="username"
                     type="text" autocomplete="off" class="text-uppercase form-control" placeholder="Usuario">
                   </div>
                   <span *ngIf="submitted && f.username.errors">
                    <span class="text-white">El usuario es requerido!</span>
                   </span>
                 </div>
                 
                 <div class="form-group">
                   <div class="input-group mb-2">
                       <div class="input-group-prepend">
                         <div class="input-group-text"><i class="ion-ios-unlock icon-login"></i></div>
                       </div>
                       <input 
                       [ngClass]="{'errorgmd': submitted && f.password.errors, 'success':password.valid && (password.dirty || password.touched)}" formControlName="password"
                       type="password" autocomplete="off" class="text-uppercase form-control" placeholder="Contraseña">
                    </div>
                    <span *ngIf="submitted && f.password.errors">
                      <span class="text-white">La contraseña es requerida!</span>
                    </span>
                 </div>
                 
                 <div class="form-group">
                  <button (click)="loginUser()" type="submit" class="btn btn-primary btn-lg btn-block text-warning">
                     <i class="ion-md-log-in icon-login-btn"></i> Iniciar sesión 
                     <div *ngIf="loading" class="spinner-border text-light" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
                 </div>

                 <div class="form-group">
                  <button type="reset" class="btn btn-light btn-lg btn-block text-warning">
                    <i class="ion-ios-repeat icon-login-btn"></i> Cancelar 
                  </button>
                 </div>
       
                 <div class="form-group">
                     <div class="card border-card">
                         <span class="text-center"><i class="ion-ios-chatboxes icon-login-btn"></i> 
                           <br> Tienes Problemas? <br>
                           Comunicate con área de soporte</span>     
                     </div>
                 </div>
       
               </form>
         </div>
       </div>
       
       <footer  style="margin-top: 40px;">
         <div class="text-center text-white">
           © Desarrollador por Jhon Javier Renteria Hinojosa {{ dateNow | date:'yyyy' }} - Inversiones del Pacifico
         </div>
       </footer>
</div>