<h5 class="card-header">TULAS Y CANDADOS POR PUNTO DE VENTA
   <button *ngIf="false" (click)="save()" class="btnRegister btn btn-primary">Registrar</button></h5>
<br>

  <div class="text-center" *ngIf="spinner">
    <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
  </div>

 
  <table class="table" *ngIf="recogidas && recogidas.length>0">
    <thead class="thtables">
      <tr>
        <th scope="col">PUNTO</th>
        <th scope="col">PAQUETES</th>
        <th scope="col">TULA</th>
        <th scope="col">CANDADO</th>
        <th scope="col">NOVEDAD</th>
     </tr>
    </thead>
    <tbody *ngFor="let item of recogidas  | paginate: { itemsPerPage: 10, currentPage: p }">
      <tr>
        <td>{{ item.nombre }}</td>
        <td><div class="lefT text-success">  {{ item.cantidad  }} </div></td>
        <td>{{ item.tula }} </td>
        <td><div class="lefT"> {{ item.candado  }} </div></td>
        <td>{{ item.novedad }} </td>
      </tr>
    </tbody> 
  </table>
  <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"  previousLabel="Anterior"  nextLabel="Siguiente"></pagination-controls>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cortes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <h5 class="card-header">Relación de Efectivo  {{ dateNow | date: 'dd/MM/yyyy'}} </h5>
          <div class="text-center" *ngIf="spinner">
            <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
          </div>
          <div class="card-body"> 
              <table class="table table-hover" *ngIf="allCortes && allCortes.length > 0">
                  <thead class="thtables">
                    <tr>
                      <th># Corte</th>
                      <th>$ 100.000</th>
                      <th>$ 50.000</th>
                      <th>$ 20.000</th>
                      <th>$ 10.000</th>
                      <th>$ 5.000</th>
                      <th>$ 2.000</th>
                      <th>$ 1.000</th>
                      <th>Monedas</th>
                      <th>Total Efectivo</th>
                      <th>Observación</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of allCortes | paginate: { itemsPerPage: 3, currentPage: p } ; index as i">
                    <tr>
                      <td scope="row"> 
                        <button (click)="printer(item, i+1)" type="button" class="btn btn-success">
                          {{ i+1 }}
                          <em style="font-size: 30px;" class="ion-ios-print"></em>
                        </button>
                       </td>
                      <td scope="row"> <span class="right-item"> {{ item.cienmil  }} </span> </td>
                      <td scope="row"> <span class="right-item"> {{ item.cincuentamil  }} </span></td>
                      <td scope="row"> <span class="right-item"> {{ item.veintemil }} </span></td>
                      <td scope="row"> <span class="right-item"> {{ item.diezmil  }} </span></td>
                      <td scope="row"> <span class="right-item"> {{ item.cincomil  }} </span></td>
                      <td scope="row"> <span class="right-item"> {{ item.dosmil  }} </span></td>
                      <td scope="row"> <span class="right-item"> {{ item.mil  }} </span></td>
                      <td scope="row"> <span class="right-item"> {{ item.totalmonedas | currency }}  </span></td>
                      <td scope="row"> <span class="right-item"> {{ item.totalefectivo | currency }}  </span></td>
                      <td scope="row" colspan="3">

                        <span class="right-item"> 
                          <span>
                            Bolsa: # {{ item.numerobolsa }}
                         </span>

                         <span class="colorservicio" *ngIf="item.tipo == 'CHANCE'">
                            Chance
                         </span>
                         <span class="colorservicio" *ngIf="item.tipo == 'GIROS'">
                            Giros
                         </span>
                         <br>
                         <span class="colorobservacion">{{ item.observacion | titlecase }} </span>
                         <br>
                         <span class="colorobservacion"> {{ item.hora }} </span>
                       </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"
                directionLinks="true"
                autoHide="true"
                responsive="true"
                previousLabel="Anterior"
                nextLabel="Siguiente"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"
                ></pagination-controls>
                <div class="totales">
                  <h5> Total {{ suma | currency }} </h5>
                </div>
          </div>
        </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




