/* You can add global styles to this file, and also import other style files */

.entrar 
{
  --moz-transform: scale(.8); 
  --webkit-transform: scale(.8);
  --o-transform: scale(.8);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0.2;
}

body.logout 
{
  --moz-transform: scale(.8); 
  --webkit-transform: scale(.8);
  --o-transform: scale(.8);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0.2;
}

.izquierda
{
  width:3%;
  height: 670px;
  background: #285f9a;
  color: #ffffff;
  float: left;
}

.icon-size-funnel
{
  color: #285f9a;
  font-size: 23px;
  margin-left: 18px;
}

.load-item-menu
{
  width: 13%;
  height: 672px;
  color: #8f969f;
  float: left;
  font-size: 14px;
}

.lista-icon-element
{
  padding:9px;
  margin-top: 80px;
}

.lista-icon-element-user
{
  padding:7px;
  margin-top: 80px;
}

.lista-icon-menu-app
{
  padding: 6px;
  color: #cdd2dc;
  float: left;
}

.configuration
{
  margin-top: 3px;
  color:#cdd2dc;
  float: left;
  padding:3px;
  font-size:20px;
}

li
{
  list-style:none;
  padding:2px 2px 2px 2px;
}

a{
  text-decoration: none !important;
}



.iconfirts
{
  font-size: 30px;
  padding: 9px;
}

.iconsecond
{
  font-size: 30px;
  padding: 14px;
}

.icon-size
{
  font-size: 25px;
}

.icon-size-person
{
  font-size: 30px;
}

.botons-top
{
  margin-top: 10px;
  float: left;
}

.content-render
{
  width: 1044px;
  height: 595px;
  background: #ffffff;
  margin-left: 15px;
  border-radius: 10px;
  border: solid 1px #285f9a;
}

.botons-top-right
{
  margin-top: 10px;
  float: right;
}

.btn-first
{
 background:#2648f2;
 color: #ffffff;
}

.btn-first-calendar
{
 background:#f3f5f9;
 color:#8d96a3;
 border:solid 1px  #e8ecf1;
 border-radius:3px;
}

.thtables {
  color: #ffffff;
  background-color: #285f9a !important;
  border-color: #dee2e6;
}

.right-item
{
  float: right !important;
}

.colorservicio
{
  color:#28a645;
}

.colorobservacion
{
  color: #24a2b8;
}

.totales
{
  float: right;
}

.contederecho
{
  float: right;
  width: 555px;
  height: auto;
  position: relative;
  top: -544px;
}

.colortotales
{
  color:#28a645;
  font-size: 27px;
}

.errorform
{
  color: #dc3545c7;
  border-radius: 9px;
  text-align: justify;
  position: absolute;
  top: 8px;
  z-index: 1;
  margin-left: 164px;
  font-size: 20px;
  animation: nudge 3s ease-out;
}

@keyframes nudge {
  50% {
    transform: translate(10px, 0px);
  }
}

.formregister
{
  float: left;
}

.sumas
{
  float: right;
}

.marginleftbuttons
{
  margin-left: 11px;
}

.width-select
{
  height: 51px !important;
}


.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #ea3838 !important;
  color: #fff;
  font-size: 1.0625em;
}

.swal2-icon.swal2-warning {
  border-color: #ea3738eb !important;
  color: #ea3738 !important;
}


.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #285f9a !important;
  color: #fff;
  font-size: 1.0625em;
}

.success {
  color: #35dc5f;
  border:solid 2px;
}

.error-validation {
  color: #de0e0c;
  border:solid 2px ;
}



.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
  margin: auto;
  border: solid 2px #285f9a !important;
}


.calendar{
  background-image: url('assets/icon/calendar.png');
  padding-right: calc(1.5em + .75rem);
  background-repeat: no-repeat;
  background-position: center left calc(.375em + .1875rem);
}

.custom-day.range[_ngcontent-luo-c8], .custom-day[_ngcontent-luo-c8]:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded[_ngcontent-luo-c8] {
  background-color: rgba(2, 117, 216, 0.5);
}