<div class="text-center" *ngIf="spinner">
  <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
</div>

<div *ngIf="showlogin" style="float:left;">
  <div class="card">
    <h5 class="card-header">Autenticación de Guardas</h5>
    <div class="card-body">
      <form [formGroup]="formValidateGuarda">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input type="text" class="form-control" placeholder="Ingrese su usuario"
          formControlName="user"
          [ngClass]="{ 'error-validation': submitted && f.user.errors, 'success':user.valid && (user.dirty || user.touched) }"
          >
    
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" 
          placeholder="Ingrese su contaseña"
          formControlName="password"
          [ngClass]="{ 'error-validation': submitted && f.password.errors, 'success':password.valid && (password.dirty || password.touched) }">
        </div>
        <button type="submit" class="btn btn-primary" (click)="validate()">Validar Ingreso</button>
      </form>
    </div>
  </div>
</div>

<form *ngIf="showFormRG" [formGroup]="formSaveRecogida">
    <div class="form-group">
      <label>Cantidad</label>
      <input type="text" class="form-control" disabled placeholder="Cantidad" formControlName="cantidad"
      [ngClass]="{ 'error-validation': submitted && fr.cantidad.errors, 'success':cantidad.valid && (cantidad.dirty || cantidad.touched) }"
      >

      <label>Novedad</label>
      <select
        (change)="getNovedad($event.target.value)"
        [ngClass]="{ 'error-validation': submitted && fr.novedad.errors, 'success':novedad.valid && (novedad.dirty || novedad.touched) }"
        class="form-control" formControlName="novedad">
        <option *ngFor="let item of obsSg" value="{{ item.id }}">
            {{ item.descripcion }}
          </option>
      </select>
   
      <div *ngIf="showNoveda">
        <label>Observación</label>
        <textarea class="form-control" formControlName="observacion" placeholder="Escribir Observación" class="form-control"></textarea>
      </div>

      <label>Candado</label>
      <input type="text" maxlength="3" class="form-control" placeholder="Candado" formControlName="candado" 
      [ngClass]="{ 'error-validation': submitted && fr.candado.errors, 'success':candado.valid && (candado.dirty || candado.touched) }"
      >

      <label>Tula</label>
      <input type="text" maxlength="3" class="form-control" placeholder="Tula" formControlName="tula" 
      [ngClass]="{ 'error-validation': submitted && fr.tula.errors, 'success':tula.valid && (tula.dirty || tula.touched) }"
      >

      <label>Veedor</label>
      <input type="text" class="form-control" disabled placeholder="Veedor" formControlName="veedor" 
      [ngClass]="{ 'error-validation': submitted && fr.veedor.errors, 'success':veedor.valid && (veedor.dirty || veedor.touched) }"
      > 
     </div>
    <button type="reset" class="btn btn-danger" >Cancelar</button>
    <button type="submit" class="btn btn-primary" (click)="saveRecogida()">Registrar</button>
  </form>



