<div class="content-pg">
   <h5> Gestión de Programación </h5>
   <form class="form-inline" [formGroup]="formRegister">
    <div class="form-group hidden">
      <div class="input-group">
        <input name="datepicker"
               class="form-control"
               ngbDatepicker
               #datepicker="ngbDatepicker"
               [autoClose]="'outside'"
               (dateSelect)="onDateSelection($event)"
               [displayMonths]="2"
               [dayTemplate]="t"
               outsideDays="hidden"
               type="hidden"
               [startDate]="fromDate!">
               
        <ng-template #t let-date let-focused="focused">
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input #dpFromDate
               class="form-control" placeholder="DD/MM/YYYY"
               name="dpFromDate"
               [ngClass]="{ 'error-validation': submitted && f.finicial.errors, 'success':finicial.valid && (finicial.dirty || finicial.touched) }"
               [value]="formatter.format(fromDate)"
               (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group ml-2">
      <div class="input-group">
        <input #dpToDate
               class="form-control" placeholder="DD/MM/YYYY"
               name="dpToDate"
               [ngClass]="{ 'error-validation': submitted && f.ffinal.errors, 'success':ffinal.valid && (ffinal.dirty || ffinal.touched) }"
               [value]="formatter.format(toDate)"
               (input)="toDate = validateInput(toDate, dpToDate.value)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <div class="input-group">
        <button class="btn btn-primary mleft"  (click)="save()" type="button">Guardar</button>
        <button type="reset" class="btn mleft btn-dark" (click)="clearForm()"  type="button">Cancelar</button>
      </div>
    </div>
  </form>
  <br>
   <div class="text-center" *ngIf="spinnerRT">
    <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
   </div>
  <table class="table" *ngIf="dataProgramacion && dataProgramacion.length">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Final</th>
        <th scope="col" *ngIf="guardas && guardas.length > 0">Cantidad Guardas</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      <tr *ngFor="let item of dataProgramacion; index as i">
           <td> 
            <span class="text-success">
              {{ i+1 }}  
            </span>  
           </td> 
           <!-- | date: 'dd/MM/yyyy yyyy/MM/dd' -->
           <td>{{ item.finicial | date:'dd/MM/yyyy'}}</td>
           <td>{{ item.ffinal  | date:'dd/MM/yyyy'}}</td> 
           <td>
              <button class="btn btn-secondary" (click)="open(content, item)" type="button">Agregar Recurso</button>
           </td>
           <td *ngIf="item.cnt > 0">
             <button type="button" (click)="open(content, item)" class="btn btn-danger">
                Guardas Asociados 
                <span class="badge badge-light">{{ item.cnt }}</span>
             </button>
           </td>
           <td *ngIf="item.estado == 1">
             <button class="btn btn-success"  (click)="getRecurso(item.id, recurso)">
              Estado: Activa  <em class="ion-ios-search"></em>
             </button>
           </td>
  
           <td *ngIf="item.estado == 0">
            <button class="btn btn-danger" (click)="deleteProgramacion(item.id)">
             Eliminar  <em class="ion-ios-trash"></em>
            </button>
           </td>
      </tr>
  </table>
  
  <div class="text-center" *ngIf="spinner">
    <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
  </div>
   
  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Programar Ruta</h4>
        <span *ngIf="countrc && countrc > 0" class="badge badge-success countrc text-white">
          {{ countrc }}
          <em (click)="deleteRc()" class="iconrc text-danger ion-ios-close"></em>
        </span> 
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form [formGroup]="formAgenda">
              <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Ruta</label>
                      <span *ngIf="currentRuta != '' "  class="text-primary">
                        {{ currentRuta | uppercase }}
                      </span>
                    <select 
                      (change)="getRuta($event.target.value)"
                      [ngClass]="{ 'error-validation': submitted && fa.id.errors, 'success':id.valid && (id.dirty || id.touched) }"
                      class="selectg form-control" formControlName="idruta">
                      <option [selected]="1==1">Seleccionar</option>
                      <option *ngFor="let item of rutas" [value]="item.idseguridadruta">
                        {{ item.ruta | uppercase }} 
                      </option>
                    </select>
                </div>
              </div>
  
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Placa Vehiculo</label>
                          <span *ngIf="currentPlaca != '' "  class="text-primary">
                            {{ currentPlaca | uppercase }}
                          </span>
                        <select 
                          (change)="getPlaca($event.target.value)"
                        [ngClass]="{ 'error-validation': submitted && fa.id.errors, 'success':id.valid && (id.dirty || id.touched) }"
                          class="selectg form-control" formControlName="idplaca">
                          <option [selected]="1==1">Seleccionar</option>
                          <option *ngFor="let item of vehiculos" [value]="item.idvehiculo">
                            {{ item.placa | uppercase }} 
                          </option>
                        </select>
                    </div>
                </div>
                
                <div class="text-center" *ngIf="spinner">
                  <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
                </div>
                <div class="form-row">
                  <div class="input-group"  *ngFor="let item of lisguardas">
                    <div class="input-group-prepend">
                      <div style="margin-top: 3px; height: 38px;" class="input-group-text">
                        <input value="+" class="btn-sm btn btn-outline-success" (click)="asociar(item)" type="button">
                      </div>
                  </div>
                  <input style="margin-top: 3px;" type="text" class="form-control" disabled
                  value="{{item.nombres}} {{item.apellido1}} {{item.apellido2}}">
                </div>
                  </div>
                  <br>
  
                  <div class="form-row">
                        <div class="input-group"  *ngFor="let item of guardas">
                            <div class="input-group-prepend">
                                <div style="margin-top: 3px; height: 38px;" class="input-group-text">
                                  <input value="x" class="btn-sm btn btn-outline-danger" (click)="deleteRc(item)" type="button">
                                </div>
                            </div>
                            <input style="margin-top: 3px;" type="text" class="form-control" disabled
                              value="{{item.nombres}} {{item.apellido1}} {{item.apellido2}}">
                            
                            <select (change)="getRol($event.target.value,item,1)" class="form-control">
                              <option> SELECCIONAR ROL </option>
                              <option *ngFor="let item of configService.getConfig().rolsecuriry" value="{{item.id}}">{{ item.name | uppercase }}</option>
                            </select>
                        </div>
                </div>
  
                <button type="button" class="btn btn-outline-primary" (click)="saveAgenda()">Aceptar</button>
                <button type="button" class="btn btn-outline-danger marginleftbuttons" (click)="clear()">Cancelar</button>
                <button type="button" class="btn btn-outline-info marginleftbuttons"  (click)="modal.dismiss('Cross click')" (click)="limpiarRG()">Limpiar</button>
            </form>
          </div>
        </div>
      </div>
  </ng-template>
    
  <ng-template #recurso let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Listado de Recursos</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ msg }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span (click)="closeAlert()" aria-hidden="true">&times;</span>
            </button>
          </div>
  
          <div *ngIf="showSuccess"  class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ msg }}</strong> 
            <button  type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span (click)="closeAlert()" aria-hidden="true">&times;</span>
            </button>
          </div>
  
          <div *ngIf="spinnerRT" class="text-center">
            <img style="width:30px;" src="assets/animation/Eclipse-1s-200px.svg">
          </div>
            
          <table class="table" *ngIf="recursos && recursos.length">
            <tr>
              <th scope="col">Tipo de Cambio</th>
              <th scope="col">Observación</th>
              <th scope="col"></th>
              <th scope="col">Rol</th>
              <th scope="col">Guarda</th>
              <th scope="col">Ruta</th>
              <th scope="col">Placa</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
              <th scope="col">Estado</th>
            </tr>
  
            <tr *ngFor="let item of recursos">
              <td>
                <select  (change)="getCambio($event.target.value, item)" class="form-control">
                    <option [selected]="1==1">Seleccionar</option>
                    <option *ngFor="let item of configService.getConfig().tipocambios" value="{{item.id}}">{{ item.name }}</option>
                </select>
                </td>
                <td>
                  <i (click)="viewOBs(item)" class="iconrc pointer text-primary ion-ios-search"></i>
                  <div *ngIf="item.loader" class="spinner-border text-success" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                   <textarea *ngIf="item.stobs"  (keyup)="addObs($event.target.value, item)" class="form-control" rows="2"></textarea>
                </td>
                <td>
                  <div style="font-size: 10px; position: relative; left: -80px;" *ngIf="item.popu">
                    <div *ngIf="ObsGD && ObsGD.length> 0" >
                     <span *ngFor="let bs of ObsGD" > 
                        {{ bs.obs | titlecase }}
                     </span>
                    </div>
                 </div>
                </td>
                <td>
                    <select [(ngModel)]="item.idrol" (change)="getRol($event.target.value,item,3,3)" class="selectg form-control">
                        <option [selected]="item.idrol == item.id" *ngFor="let rl of configService.getConfig().rolsecuriry"
                          value="{{rl.id}}">
                          {{ rl.name | uppercase }}
                        </option>
                    </select>
                </td>
                <td>
                    <span style="font-size: 11px">
                      {{ item.guarda }}
                    </span>
                </td>
                <td>
                  <select [(ngModel)]="item.idruta"
                  (change)="getRuta($event.target.value,item,2)"
                  class="selectg form-control" >
                  <option *ngFor="let rt of rutas" value="{{ rt.idseguridadruta }}">
                    {{ rt.ruta | uppercase }} 
                  </option>
                </select>
              </td> 
                <td>
                  <select 
                    [(ngModel)]="item.idvehiculo"
                    (change)="getPlaca($event.target.value, item, 1)"
                    class="selectg form-control">
                    <option [selected]="item.idvehiculo == item.idvehiculo" 
                        *ngFor="let item of vehiculos" [value]="item.idvehiculo">
                      {{ item.placa | uppercase }} 
                   </option>
                 </select>
                </td> 
                <td *ngIf="!item.status"><em (click)="editRuta(item)" class="iconrc pointer text-primary ion-ios-create"></em></td>
                <td *ngIf="!item.status"><em (click)="deleteRuta(item.documento)" class="pointer iconrc text-danger ion-ios-trash"></em></td>
                  
               
                  <td *ngIf="item.status == true"><em (click)="editRutaGuarda(item)" class="iconrc pointer text-success ion-ios-save"></em></td>
                  <td *ngIf="item.status == true"><em (click)="cancelAction(item)" class="iconrc pointer text-danger ion-md-trash"></em></td>
                  <td>
                    <em *ngIf="item.estado == 1" (click)="enable(item)" class="iconrc pointer text-success ion-md-checkmark-circle"></em>
                    <em *ngIf="item.estado == 0" (click)="enable(item)" class="iconrc pointer text-warning ion-md-checkmark-circle"></em>
                  </td>
                </tr> 
        </table>
        </div>
        </div>
      </div>
  </ng-template>

  <ng-template #contentObs let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Observaciones</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          listado de obs
        </div>
      </div>
    </div>
</ng-template>
</div>


  