<h5> Historial de recogidas </h5>
<form class="form-inline" [formGroup]="formRegister">
    <div style="margin-left:5px" class="form-group">
        <div class="input-group">
          <label>Fecha Inicio </label>
          <input class="form-control" 
          [ngClass]="{ 'error-validation': submitted && f.finicial.errors, 'success':finicial.valid && (finicial.dirty || finicial.touched) }"
          placeholder="yyyy-mm-dd"
          formControlName="finicial" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
    </div>

    <div style="margin-left:5px" class="form-group">
        <div class="input-group">
          <label>Fecha Final</label>
          <input class="form-control" 
           [ngClass]="{ 'error-validation': submitted && f.ffinal.errors, 'success':ffinal.valid && (ffinal.dirty || ffinal.touched) }"
           placeholder="yyyy-mm-dd"
           formControlName="ffinal" ngbDatepicker #h="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="h.toggle()" type="button"></button>
          </div>
        </div>
    </div>

    <div style="margin-left:5px" class="form-group">
     <select 
      [ngClass]="{ 'error-validation': submitted && f.id.errors, 'success':id.valid && (id.dirty || id.touched) }"
       class="selectg form-control" formControlName="id">
       <option *ngFor="let item of guardas" value="{{item.documento}}">
         {{ item.nombres }} {{ item.apellido1 }} {{ item.apellido2 }}
       </option>
     </select> 
  </div>

    <div class="form-group" style="margin-top: 5px;">
        <div class="input-group">
          <button class="btn btn-primary mleft"  (click)="search()" type="button">Consultar
          </button>
          <button class="btn btn-danger mleft"  (click)="clearForm()" type="button">Cancelar
          </button>
        </div>
    </div>
 </form>

 <br>
 <div class="text-center" *ngIf="spinner">
  <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
 </div>
 <br>
 <table class="table table-striped table-bordered table-hover" *ngIf="dataRecogidas && dataRecogidas.length">
  <thead class="thead-primary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Veedor</th>
      <th scope="col">Candado</th>
      <th scope="col">Tula</th>
      <th scope="col">PuntoVenta</th>
      <th scope="col">Novedad</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataRecogidas | paginate: { itemsPerPage: 5, currentPage: p }; index as i ">
      <td> 
       <span class="text-success">
         {{ i+1 }}  
       </span>  
      </td>
      <td>{{ item.veedor }}</td>
      <td>{{ item.candado | uppercase }}</td>
      <td>{{ item.tula | uppercase }}</td>
      <td>{{ item.territorio | uppercase }}</td>
      <td>{{ item.tipoNovedad | uppercase }}</td>
      <td>{{ item.fecha  | date:'dd/MM/yyyy'}}</td> 
      <td>{{ item.hora }}</td>
      <td>{{ item.cantidad }}</td>
 </tr>
  </tbody>
 </table>
 <pagination-controls *ngIf="sh"
 responsive="true"
 previousLabel="Atras"
 nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
