<!--div class="text-center" *ngIf="spinner">
  <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
</div-->


<div class="text-center">
  <button type="button" class="btn btn-warning">
    Zona Norte <!--span *ngIf="znorte && znorte.length > 0" 
      class="badge badge-light">{{ znorte.length }}</span-->
   </button>
</div>

<div class="row" *ngIf="znorte && znorte.length > 0">
 
  <div id="links" *ngFor="let item of znorte">
    <h4 *ngIf="item.recogido == 1" [ngClass]="{ 'csuccess': item.recogido == 1 }">
      <a>
        <em class="text-primary font-size: 30px !important; ion-md-map"></em>
        <span style="vertical-align: inherit; font-size: 15px;">  {{ item.nombre | titlecase }}  </span>
        <br>
        <span> 
          {{ item.totalefectivo | currency }} 
        </span>
      </a>
    </h4>
  </div> 
</div>

<br>
<div class="text-center">
  <button type="button" class="btn btn-primary">
    Zona Centro <!--span *ngIf="zcentro && zcentro.length > 0"
       class="badge badge-light">{{ zcentro.length }}</span-->
   </button>
</div>
<div class="row" *ngIf="zcentro && zcentro.length > 0">
  
  <div id="links" *ngFor="let item of zcentro">
  <h4  *ngIf="item.recogido == 1" [ngClass]="{ 'csuccess': item.recogido == 1 }">
    <a>
      <em class="text-primary font-size: 30px !important; ion-md-map"></em>
      <span style="vertical-align: inherit; font-size: 15px;">  {{ item.nombre | titlecase }}  </span>
      <br>
      <span *ngIf="item.recogido == 1"> 
        {{ item.totalefectivo | currency }} 
      </span>
    </a>
  </h4>
  </div> 
</div>


<br>
<div class="text-center">
  <button type="button" class="btn btn-danger">
    Zona Sur <!--span *ngIf="zsur && zsur.length > 0"
       class="badge badge-light">{{ zsur.length }}</span-->
  </button>
</div>
<div class="row" *ngIf="zsur && zsur.length > 0">
 
  <div id="links" *ngFor="let item of zsur">
    <h4  *ngIf="item.recogido == 1" [ngClass]="{ 'csuccess': item.recogido == 1 }">
      <a>
        <em class="text-primary font-size: 30px !important; ion-md-map"></em>
        <span style="vertical-align: inherit; font-size: 15px;">  {{ item.nombre | titlecase }}  </span>
        <br>
        <span *ngIf="item.recogido == 1"> 
          {{ item.totalefectivo | currency }} 
        </span>
      </a>
    </h4>
  </div> 
</div>