
<div class="izquierda">
    <i class="iconfirts ion-ios-refresh-circle"></i>
    <i class="iconsecond ion-ios-arrow-round-down"></i>
    
  
    <ul class="lista-icon-element-user">
        <li> <i style="cursor:pointer;" (click)="authService.logout()" class="icon-size-person ion-ios-power"></i> </li>
    </ul>
  </div>
  
  <div class="load-item-menu">
    <ul class="lista-icon-menu-app" *ngFor="let item of listModules">
        <li> <a routerLink="{{ item.call }}"><i class="icon-size {{ item.icon }}" ></i> {{ item.name }} </a> </li>
    </ul>
  </div>
  
  
  
  <div class="botons-top">
   <div class="content-render">
       <div class="content" style="padding: 10px;">
           <router-outlet></router-outlet>
       </div>
     </div>
  </div>
