 <div class="card">
    <h5 class="card-header">Relación de Efectivo  {{ dateNow | date: 'dd/MM/yyyy'}} </h5>
    <div class="card-body"> 
        <table class="table" *ngIf="allCortes && allCortes.length > 0">
            <thead class="thtables">
              <tr>
                <th>$ 100.000</th>
                <th>$ 50.000</th>
                <th>$ 20.000</th>
                <th>$ 10.000</th>
                <th>$ 5.000</th>
                <th>$ 2.000</th>
                <th>$ 1.000</th>
                <th>$ Monedas</th>
                <th>Total Efectivo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allCortes; index as i">
                <td scope="row"> <span class="right-item"> {{ item.ciemil  }} </span> </td>
                <td scope="row"> <span class="right-item"> {{ item.cincuentamil  }} </span></td>
                <td scope="row"> <span class="right-item"> {{ item.venitemil }} </span></td>
                <td scope="row"> <span class="right-item"> {{ item.diezmil  }} </span></td>
                <td scope="row"> <span class="right-item"> {{ item.cincomil  }} </span></td>
                <td scope="row"> <span class="right-item"> {{ item.dosmil  }} </span></td>
                <td scope="row"> <span class="right-item"> {{ item.mil  }} </span></td>
                <td scope="row"> <span class="right-item"> {{ item.totalefectivo | currency }}  </span></td>
                <td scope="row" colspan="3">
                  <span class="right-item"> 
                   {{ item.tolamonedas | currency }} 
                   <br>
                   <span class="colorservicio">{{ item.relacion | titlecase }} </span>
                   <br>
                   <span class="colorobservacion">{{ item.observacion | titlecase }} </span>
                   <br>
                   <span class="colorobservacion"> {{ item.created_at | date: 'h:mm a' }} </span>
                  
                 </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="totales">
            <h5> Total {{ suma | currency }} </h5>
          </div>
    </div>
</div>

