<div class="card">
  <h5 class="card-header">
    IMPRIMIR PLANILLA DE REGISTROS  - {{ dateNow | date: 'dd/MM/yyyy'}} 
    <button (click)="printer()" type="button" class="btn btn-success">
      <em style="font-size: 30px;" class="ion-ios-print"></em>
    </button>
    <div *ngIf="spinner"  class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </h5>
</div>

