<h5> Programación Semanal Departamento de Seguridad </h5>
<form class="form-inline" [formGroup]="formRegister">
    <div class="form-group">
        <div class="input-group">
          <label># Programación</label>
          <input type="text" formControlName="numeroprg"
          [ngClass]="{ 'error-validation': submitted && f.numeroprg.errors, 'success':numeroprg.valid && (numeroprg.dirty || numeroprg.touched) }"
          class="form-control" placeholder="Ingrese el número">
        </div>
    </div>
    <div style="margin-left:5px" class="form-group">
        <div class="input-group">
          <label>Fecha Inicio</label>
          <input class="form-control" 
          [ngClass]="{ 'error-validation': submitted && f.finicial.errors, 'success':finicial.valid && (finicial.dirty || finicial.touched) }"
          placeholder="yyyy-mm-dd"
          formControlName="finicial" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
    </div>

    <div style="margin-left:5px" class="form-group">
        <div class="input-group">
          <label>Fecha Final</label>
          <input class="form-control" 
           [ngClass]="{ 'error-validation': submitted && f.ffinal.errors, 'success':ffinal.valid && (ffinal.dirty || ffinal.touched) }"
           placeholder="yyyy-mm-dd"
           formControlName="ffinal" ngbDatepicker #h="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="h.toggle()" type="button"></button>
          </div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
          <button class="btn btn-primary"  (click)="save()" type="button">Guardar</button>
        </div>
    </div>
 </form>

 <table class="table" *ngIf="dataProgramacion && dataProgramacion.length">
    <tr>
      <th>Número</th>
      <th>Fecha Inicio</th>
      <th>Fecha Final</th>
      <!-- <th>Asociar Guardas</th> -->
      <th *ngIf="guardas && guardas.length > 0">Cantidad Guardas</th>
    </tr>
    <tr *ngFor="let item of dataProgramacion">
        <td>{{ item.numeroprg }}</td>
         <td>{{ item.finicial.year }}-{{ item.finicial.month }}-{{ item.finicial.day }}</td>
         <td>{{ item.ffinal.year }}-{{ item.ffinal.month }}-{{ item.ffinal.day }}</td>
         <td>
            <button class="btn btn-success" (click)="open(content, item)" type="button">Asociar Guardas</button>
         </td>
         <td *ngIf="guardas && guardas.length > 0">
           <button type="button" (click)="open(content, item)" class="btn btn-danger">
              Guardas Asociados <span class="badge badge-light">{{ guardas.length }}</span>
           </button>
         </td>
         <td>
          <button class="btn btn-primary" (click)="sendata()" type="button">Reistro</button>
         </td>
    </tr>
 </table>

<div class="text-center" *ngIf="spinner">
  <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
</div>
 
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Asociar Guardas</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
          <div class="input-group" 
              *ngFor="let item of lisguardas">
              <div class="input-group-prepend">
                <div style="margin-top: 3px;" class="input-group-text">
                  <input (click)="asociar(item)" type="radio" aria-label="Radio button for following text input">
                </div>
              </div>

              <div (click)="delete(item.id)" class="input-group-prepend">
                  <div style="margin-top: 3px;" class="input-group-text">
                    <i  class="text-danger ion-md-close"></i>
                  </div>
              </div>

              
              <input style="margin-top: 3px;" type="text" class="form-control" disabled value="{{item.name}}" aria-label="Text input with radio button">
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark">Acceptar</button>
    </div>
  </ng-template>
  
  