
<div class="izquierda">
    <!-- <i class="iconfirts ion-ios-basket"></i> -->
    <i class="iconfirts ion-ios-refresh-circle"></i>
    <i class="iconsecond ion-ios-arrow-round-down"></i>
    <ul class="lista-icon-element">
        <li class="active">  <i class="icon-size ion-ios-home"></i> </li>
        <li>  <i class="icon-size ion-ios-notifications-off"></i> </li>
        <li>  <i class="icon-size ion-ios-chatbubbles"></i> </li>
        <li>  <i class="icon-size ion-ios-search"></i> </li>
        <li>  <i class="icon-size ion-ios-stats"></i> </li>
    </ul>
  
    <ul class="lista-icon-element-user">
        <li>  <i class="icon-size-person ion-ios-power"></i> </li>
        <li>  <i class="icon-size-person ion-ios-contact"></i> </li>
    </ul>
  </div>
  
  <div class="load-item-menu">
    <ul class="lista-icon-menu-app" *ngFor="let item of listModules">
        <li> <a routerLink="{{ item.call }}"><i class="icon-size {{ item.icon }}" ></i> {{ item.name }} </a> </li>
    </ul>
    <!-- <div class="configuration">
      <h4 style="color:#28a745">Configuración</h4>
    </div> -->
  </div>
  
  
  
  <div class="botons-top">
    <div class="col-auto">
      <div class="input-group mb-2">
            <div class="input-group-prepend">
            <div class="input-group-text"> <i class="ion-ios-search"></i> </div>
            </div>
            <input type="text" style="width:800px;" class="form-control" placeholder="Buscar">
            <i class="icon-size-funnel ion-md-funnel"></i>
      </div>
    </div>
  
    <div class="content-render">
       <div class="content" style="padding: 10px;">
           <router-outlet></router-outlet>
       </div>
     </div>
  </div>
