<div class="container">
  <div class="row">
      <h2>Gestión de Premios</h2>
      <button type="button" class="btn btn-primary" (click)="showformData()">
          Pagar <i class="ion-md-add-circle"></i>
      </button>
  </div>

  <div *ngIf="showgrid" class="card">
    <h5 class="card-header">Historial de Pagos</h5>
    <br>
    <div *ngIf="showLoader" class="text-center">
      <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
    </div>
    <div class="card-body"> 
        <table class="table" *ngIf="listPagos && listPagos.length > 0">
            <thead style="background: #f7f7f7;">
              <tr>
                <th>Serie</th>
                <th>Número</th>
                <th>Valor Pagado</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of listPagos">
              <tr>
                <td scope="row"> <span class="size-text"> {{ item.serie | uppercase  }}   </span> </td>
                <td scope="row"> <span class="size-text"> {{ item.numero  }}  </span> </td>
                <td scope="row"> <span class="size-text"> {{ item.valor | currency }}  </span> </td>
                <td scope="row"> <span class="size-text text-success"> {{ item.estado | titlecase }}  </span></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div *ngIf="showform" class="card">
      <h5 class="card-header">Pago de Premios </h5>
      <br>
      <form [formGroup]="formPagos">
      <div class="form-row">
          <div class="form-group col-md-6">
            <label>Serie</label>
            <input type="text"
            [ngClass]="{ 'error-validation': submitted && f.serie.errors, 'success':serie.valid && (serie.dirty || serie.touched) }"
            placeholder="Ingrese la serie" class="text-uppercase form-control" 
            formControlName="serie"
            autocomplete="off">
        </div>
          <div class="form-group col-md-6">
            <label>Número</label>
            <input type="text" placeholder="Ingrese el Número" 
            [ngClass]="{ 'error-validation': submitted && f.numero.errors, 'success':numero.valid && (numero.dirty || numero.touched) }"
            class="text-uppercase form-control" 
            (keyup)="validateNumber($event)" formControlName="numero" autocomplete="off"  >
        </div>

        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary" (click)="validatePago()">Validar Estado</button>
            <button type="reset" class="btn btn-danger" (click)="clear()">Cancelar</button>
            <button type="button" *ngIf="showpay" class="btn btn-success marginleftbuttons" (click)="add()">Agregar Pago</button>
        </div>

        <div *ngIf="showpay" class="form-group col-md-6">
          Activo <i class="colorservicio icon-size ion-ios-checkmark-circle"></i>
          Valor a pagar  <strong> $ {{ valor | number:'0.0-0' }} </strong>
          </div>
        </div>
      </form>
      <div *ngIf="showLoader" class="text-center">
        <img src="assets/img/loader.svg">
      </div>
      <div *ngIf="showTable" class="card-body"> 
          <table class="table">
              <thead style="background: #f7f7f7;">
                <tr>
                  <th>Serie</th>
                  <th>Número</th>
                  <th>Valor a cancelar</th>
                  <th>Guadar</th>
               </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"> <span class="size-text"> {{ pagos.serie | uppercase  }}   </span> </td>
                  <td scope="row"> <span class="size-text"> {{ pagos.numero  }}  </span> </td>
                  <td scope="row"> <span class="size-text"> {{ pagos.totalpremio | currency }}  </span> </td>
                  <td scope="row"> <i (click)="save()" class="icon-save-pago ion-ios-save"></i> </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>

