.selectg{
 width: 200px !important;
}

.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: .3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
    width: 300px !important;
    height: 291px !important;
}

.swal2-container {
    display: flex;
    position: fixed;
    z-index: 1073;
    top: -301px !important;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625em;
    overflow-x: hidden;
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
}