<div class="formregister">
    <form [formGroup]="formRegister" (ngSubmit)="save()">
      <div class="form-row">
          <div class="form-group col-md-12">
              <label>Guarda de Seguridad</label>
              <select 
               [ngClass]="{ 'error-validation': submitted && f.id.errors, 'success':id.valid && (id.dirty || id.touched) }"
                class="selectg form-control" formControlName="id">
                <option [selected]="1==1">Seleccionar Guarda</option>
                <option *ngFor="let item of guardas" [value]="item.documento">
                  {{ item.nombres }} {{ item.apellido1 }} {{ item.apellido2 }}
                </option>
              </select>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-12">
              <label>Placa de Vehiculo</label>
              <select 
              [ngClass]="{ 'error-validation': submitted && f.idplaca.errors, 'success':idplaca.valid && (idplaca.dirty || idplaca.touched) }"
               class="selectg form-control" formControlName="idplaca">
               <option [selected]="1==1">Seleccionar Vehiculo</option>
               <option *ngFor="let item of vehiculos" [value]="item.placa">
                 {{ item.placa }} 
               </option>
             </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
             <label>Ruta</label>
             <select 
             [ngClass]="{ 'error-validation': submitted && f.idruta.errors, 'success':idruta.valid && (idruta.dirty || idruta.touched) }"
              class="selectg form-control" formControlName="idruta">
              <option [selected]="1==1">Seleccionar ruta</option>
              <option *ngFor="let item of guardas" [value]="item.documento">
                {{ item.nombres }} {{ item.apellido1 }} {{ item.apellido2 }}
              </option>
            </select>
          </div>
       </div> 
      <button type="submit" class="btn btn-primary">Acceptar</button>
      <button type="button" class="btn btn-danger marginleftbuttons" (click)="clear()">Cancelar</button>
    </form>
</div>

<div class="text-center" *ngIf="spinner">
  <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
</div>
 
  
  