<div class="background">
    <div class="content-login ">
      <div class="content relleno">
             <div class="text-center">
               <h1 class="text-white">Control de Efectivo</h1>
             </div>
             <img class="logo" src="assets/img/logo.png">
             <form (submit)="loginUser($event)">
                 <div class="form-group">
                   <div class="input-group mb-2">
                     <div class="input-group-prepend">
                       <div class="input-group-text"><i class="ion-ios-person icon-login"></i></div>
                     </div>
                     <input type="text" autocomplete="off" class="text-uppercase form-control" id="username"  placeholder="Usuario">
                     <div class="errorformlogin">
                         <i class="ion-md-sad"></i>
                     </div>
                   </div>
                 </div>
                 
                 <div class="form-group">
                   <div class="input-group mb-2">
                       <div class="input-group-prepend">
                         <div class="input-group-text"><i class="ion-ios-unlock icon-login"></i></div>
                       </div>
                       <input type="password" autocomplete="off" class="text-uppercase form-control" id="password"  placeholder="Contraseña">
                       <div class="errorformlogin">
                           <i class="ion-md-sad"></i>
                       </div>
                     </div>
                 </div>
                 
                 <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-warning">
                     <i class="ion-md-log-in icon-login-btn"></i> Iniciar sesión 
                  </button>
                 </div>
       
                 <div class="form-group">
                     <div class="card border-card">
                         <span class="text-center"><i class="ion-ios-chatboxes icon-login-btn"></i> 
                           <br> Tienes Problemas? <br>
                           Comunicate con area de soporte</span>     
                     </div>
                 </div>
       
               </form>
         </div>
       </div>
       
       <footer>
         <div class="text-center text-white">
           © Desarrollador por Jhon Javier Renteria Hinojosa {{ dateNow | date:'yyyy' }} - Inversiones del Pafico
         </div>
       </footer>
</div>