<div class="card">
  <h5 class="card-header">Relación de Efectivo  {{ dateNow | date: 'dd/MM/yyyy'}} </h5>
  <div class="text-center" *ngIf="spinner">
    <img style="width:70px;" src="assets/animation/Eclipse-1s-200px.svg">
  </div>
  <div class="card-body"> 
      <table class="table table-hover" *ngIf="allCortes && allCortes.length > 0">
          <thead class="thtables">
            <tr>
              <th># Corte</th>
              <th>$ 100.000</th>
              <th>$ 50.000</th>
              <th>$ 20.000</th>
              <th>$ 10.000</th>
              <th>$ 5.000</th>
              <th>$ 2.000</th>
              <th>$ 1.000</th>
              <th>Monedas</th>
              <th>Total Efectivo</th>
              <th>Observación</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of allCortes | paginate: { itemsPerPage: 3, currentPage: p }">
            <tr>
              <td scope="row"> 
                <button *ngIf="item.status == true" (click)="printer(item, item.corte)" type="button" class="btn btn-success">
                  {{ item.corte }}
                  <em style="font-size: 30px;" class="ion-ios-print"></em>
                </button>
               </td>
              <td scope="row"> <span class="right-item"> {{ item.cienmil  }} </span> </td>
              <td scope="row"> <span class="right-item"> {{ item.cincuentamil  }} </span></td>
              <td scope="row"> <span class="right-item"> {{ item.veintemil }} </span></td>
              <td scope="row"> <span class="right-item"> {{ item.diezmil  }} </span></td>
              <td scope="row"> <span class="right-item"> {{ item.cincomil  }} </span></td>
              <td scope="row"> <span class="right-item"> {{ item.dosmil  }} </span></td>
              <td scope="row"> <span class="right-item"> {{ item.mil  }} </span></td>
              <td scope="row"> <span class="right-item"> ${{ item.totalmonedas | number: '0.0-0' }}  </span></td>
              <td scope="row"> <span class="right-item"> ${{ item.totalefectivo | number: '0.0-0' }}  </span></td>
              <td scope="row" colspan="3">
                <span class="right-item"> 
                 <span>
                    Bolsa: # {{ item.numerobolsa }}
                 </span>
                 <span class="colorservicio" *ngIf="item.tipo == 'CHANCE'">
                    Chance
                 </span>
                 <span class="colorservicio" *ngIf="item.tipo == 'GIROS'">
                    Giros
                 </span>
                 <br>
                 <span class="colorobservacion">{{ item.observacion | titlecase }} </span>
                 <br>
                 <span class="colorobservacion"> {{ item.hora }} </span>
               </span>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"
        directionLinks="true"
        autoHide="true"
        responsive="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        ></pagination-controls>
        <div class="totales">
          <h5> Total ${{ suma | number: '0.0-0' }} </h5>
        </div>
  </div>
</div>

