.left{
 float: left;
 width: 320px;
 margin-left:20px;
 padding: 8px;   
}

.right{
 float: right;
 width: 320px;
 margin-left:20px;
 padding: 8px;
}

.left-dow{
    float: left;
    margin-left:20px;
    padding: 8px; 
}