.formpagos
{
    margin-left: 10px;
    margin-right: 10px;
}

.icon-delete-pagos
{
    font-size: 30px;
    color: red;   
    margin-left: 20px;
    cursor: pointer;
}

.size-text
{
 font-size: 24px;
 color: #167bff;
}